USE [master]
GO
/****** Object:  Database [TestGreenHouseDB]    Script Date: 23-May-22 10:14:29 ******/
CREATE DATABASE [TestGreenHouseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Greenhouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GreenHouseDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Greenhouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GreenHouseDB_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestGreenHouseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestGreenHouseDB]
GO
/****** Object:  User [admin]    Script Date: 23-May-22 10:14:29 ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23-May-22 10:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DioxideCarbonMeasurement]    Script Date: 23-May-22 10:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DioxideCarbonMeasurement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Co2Measurement] [float] NOT NULL,
	[Time] [datetime2](7) NOT NULL,
	[GreenHouseId] [nvarchar](450) NULL,
 CONSTRAINT [PK_DioxideCarbonMeasurement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Greenhouses]    Script Date: 23-May-22 10:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Greenhouses](
	[GreenHouseId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Greenhouses] PRIMARY KEY CLUSTERED 
(
	[GreenHouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HumidityMeasurement]    Script Date: 23-May-22 10:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HumidityMeasurement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Humidity] [float] NOT NULL,
	[Time] [datetime2](7) NOT NULL,
	[GreenHouseId] [nvarchar](450) NULL,
 CONSTRAINT [PK_HumidityMeasurement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoistureMeasurement]    Script Date: 23-May-22 10:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoistureMeasurement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Moisture] [float] NOT NULL,
	[Time] [datetime2](7) NOT NULL,
	[PotId] [int] NULL,
 CONSTRAINT [PK_MoistureMeasurement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pot]    Script Date: 23-May-22 10:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GreenHouseId] [nvarchar](450) NULL,
	[Name] [nvarchar](max) NOT NULL,
	[MoistureThresholdId] [int] NOT NULL,
 CONSTRAINT [PK_Pot] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemperatureMeasurement]    Script Date: 23-May-22 10:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemperatureMeasurement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Temperature] [real] NOT NULL,
	[Time] [datetime2](7) NOT NULL,
	[GreenHouseId] [nvarchar](450) NULL,
 CONSTRAINT [PK_TemperatureMeasurement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Threshold]    Script Date: 23-May-22 10:14:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Threshold](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[LowerThreshold] [float] NOT NULL,
	[HigherThreshold] [float] NULL,
	[GreenHouseId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Threshold] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DioxideCarbonMeasurement_GreenHouseId]    Script Date: 23-May-22 10:14:29 ******/
CREATE NONCLUSTERED INDEX [IX_DioxideCarbonMeasurement_GreenHouseId] ON [dbo].[DioxideCarbonMeasurement]
(
	[GreenHouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HumidityMeasurement_GreenHouseId]    Script Date: 23-May-22 10:14:29 ******/
CREATE NONCLUSTERED INDEX [IX_HumidityMeasurement_GreenHouseId] ON [dbo].[HumidityMeasurement]
(
	[GreenHouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MoistureMeasurement_PotId]    Script Date: 23-May-22 10:14:29 ******/
CREATE NONCLUSTERED INDEX [IX_MoistureMeasurement_PotId] ON [dbo].[MoistureMeasurement]
(
	[PotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pot_GreenHouseId]    Script Date: 23-May-22 10:14:29 ******/
CREATE NONCLUSTERED INDEX [IX_Pot_GreenHouseId] ON [dbo].[Pot]
(
	[GreenHouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pot_MoistureThresholdId]    Script Date: 23-May-22 10:14:29 ******/
CREATE NONCLUSTERED INDEX [IX_Pot_MoistureThresholdId] ON [dbo].[Pot]
(
	[MoistureThresholdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TemperatureMeasurement_GreenHouseId]    Script Date: 23-May-22 10:14:29 ******/
CREATE NONCLUSTERED INDEX [IX_TemperatureMeasurement_GreenHouseId] ON [dbo].[TemperatureMeasurement]
(
	[GreenHouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Threshold_GreenHouseId]    Script Date: 23-May-22 10:14:29 ******/
CREATE NONCLUSTERED INDEX [IX_Threshold_GreenHouseId] ON [dbo].[Threshold]
(
	[GreenHouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pot] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[Pot] ADD  DEFAULT ((0)) FOR [MoistureThresholdId]
GO
ALTER TABLE [dbo].[DioxideCarbonMeasurement]  WITH CHECK ADD  CONSTRAINT [FK_DioxideCarbonMeasurement_Greenhouses_GreenHouseId] FOREIGN KEY([GreenHouseId])
REFERENCES [dbo].[Greenhouses] ([GreenHouseId])
GO
ALTER TABLE [dbo].[DioxideCarbonMeasurement] CHECK CONSTRAINT [FK_DioxideCarbonMeasurement_Greenhouses_GreenHouseId]
GO
ALTER TABLE [dbo].[HumidityMeasurement]  WITH CHECK ADD  CONSTRAINT [FK_HumidityMeasurement_Greenhouses_GreenHouseId] FOREIGN KEY([GreenHouseId])
REFERENCES [dbo].[Greenhouses] ([GreenHouseId])
GO
ALTER TABLE [dbo].[HumidityMeasurement] CHECK CONSTRAINT [FK_HumidityMeasurement_Greenhouses_GreenHouseId]
GO
ALTER TABLE [dbo].[MoistureMeasurement]  WITH CHECK ADD  CONSTRAINT [FK_MoistureMeasurement_Pot_PotId] FOREIGN KEY([PotId])
REFERENCES [dbo].[Pot] ([Id])
GO
ALTER TABLE [dbo].[MoistureMeasurement] CHECK CONSTRAINT [FK_MoistureMeasurement_Pot_PotId]
GO
ALTER TABLE [dbo].[Pot]  WITH CHECK ADD  CONSTRAINT [FK_Pot_Greenhouses_GreenHouseId] FOREIGN KEY([GreenHouseId])
REFERENCES [dbo].[Greenhouses] ([GreenHouseId])
GO
ALTER TABLE [dbo].[Pot] CHECK CONSTRAINT [FK_Pot_Greenhouses_GreenHouseId]
GO
ALTER TABLE [dbo].[Pot]  WITH CHECK ADD  CONSTRAINT [FK_Pot_Threshold_MoistureThresholdId] FOREIGN KEY([MoistureThresholdId])
REFERENCES [dbo].[Threshold] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pot] CHECK CONSTRAINT [FK_Pot_Threshold_MoistureThresholdId]
GO
ALTER TABLE [dbo].[TemperatureMeasurement]  WITH CHECK ADD  CONSTRAINT [FK_TemperatureMeasurement_Greenhouses_GreenHouseId] FOREIGN KEY([GreenHouseId])
REFERENCES [dbo].[Greenhouses] ([GreenHouseId])
GO
ALTER TABLE [dbo].[TemperatureMeasurement] CHECK CONSTRAINT [FK_TemperatureMeasurement_Greenhouses_GreenHouseId]
GO
ALTER TABLE [dbo].[Threshold]  WITH CHECK ADD  CONSTRAINT [FK_Threshold_Greenhouses_GreenHouseId] FOREIGN KEY([GreenHouseId])
REFERENCES [dbo].[Greenhouses] ([GreenHouseId])
GO
ALTER TABLE [dbo].[Threshold] CHECK CONSTRAINT [FK_Threshold_Greenhouses_GreenHouseId]
GO
USE [master]
GO
